[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
bottle = '*'
peewee = '*'
freezegun = "*"
werkzeug = "*"

[dev-packages]
pytest = '*'
#pytest-flask = '*'
pytest-cov = '*'
webtest = '*'
faker = '*'
tabulate = '*'
freezegun = '*'
